.expandedWrapper {
  padding-top: 24px;
  padding-left: 48px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.itemsContainer {
  position: relative;
  margin-bottom: 24px;
}

.emptyContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  composes: greyColor from "../common/styles.module.css";
}
