.listItemWrapper {
  width: 100%;
}

.listItemWrapper:hover {
  cursor: pointer;
}

.listItemIcons {
  position: absolute;
  right: 0;
}

.expandedWrapper {
  padding-top: 24px;
  padding-left: 48px;
}

.title {
  position: block;
}

.title:hover {
  cursor: pointer;
}

.titleInput {
  position: block;
}

.timeContainer {
  margin: 24px 0;
}
