.wrapper {
  position: relative;
}

.wrapperDiscover {
  position: relative;
  margin-right: 24px;
}

.wrapperQuest {
  position: relative;
}

.itemsCounter {
  position: absolute;
  top: 18px;
  right: 24px;
  z-index: 2;
}

.createNewItem {
  user-select: none;
  composes: greenColor from "../common/styles.module.css";
}

.createNewItem:hover {
  color: #00dd00;
  cursor: pointer;
}

.listItemWrapper {
  width: 100%;
}

.listItemWrapper:hover {
  cursor: pointer;
}

.listItemTitle {
  padding-right: 24px;
}

.listItemIcons {
  position: absolute;
  right: 0;
}
